:root {
  --micro: 12px;
  --mini: 20px;
  --small: 26px;
  --default: 32px;
  --big: 42px;

  // --text-00: var(--grey-80);
  --text-00: var(--grey-90);
  --text-10: var(--grey-70);
  --text-20: var(--grey-60);
  --text-30: var(--grey-50);

  --bg-00: var(--white-10);
  --bg-10: var(--grey-10);
  --bg-20: var(--grey-20);
  --bg-30: var(--grey-30);
  --bg-40: var(--grey-40);

  --black-00: rgb(21, 21, 21);
  --white-00: rgb(253, 254, 255);
  --white-05: rgb(253, 254, 255);
  --white-10: rgb(250, 250, 252);
  --grey-00: rgb(248, 249, 250);
  --grey-05: rgb(243, 245, 247);
  --grey-10: rgb(241, 243, 245);
  --grey-20: rgb(233, 236, 239);
  --grey-30: rgb(222, 226, 230);
  --grey-40: rgb(206, 212, 218);
  --grey-50: rgb(173, 181, 189);
  --grey-60: rgb(134, 142, 150);
  --grey-70: rgb(73, 80, 87);
  --grey-80: rgb(52, 58, 64);
  --grey-90: rgb(33, 37, 41);
  --red-00: rgb(255, 245, 245);
  --red-10: rgb(255, 227, 227);
  --red-20: rgb(255, 201, 201);
  --red-30: rgb(255, 168, 168);
  --red-40: rgb(255, 135, 135);
  --red-50: rgb(255, 107, 107);
  --red-60: rgb(250, 82, 82);
  --red-70: rgb(240, 62, 62);
  --red-80: rgb(224, 49, 49);
  --red-90: rgb(201, 42, 42);
  --pink-00: rgb(255, 240, 246);
  --pink-10: rgb(255, 222, 235);
  --pink-20: rgb(252, 194, 215);
  --pink-30: rgb(250, 162, 193);
  --pink-40: rgb(247, 131, 172);
  --pink-50: rgb(240, 101, 149);
  --pink-60: rgb(230, 73, 128);
  --pink-70: rgb(214, 51, 108);
  --pink-80: rgb(194, 37, 92);
  --pink-90: rgb(166, 30, 77);
  --grape-00: rgb(248, 240, 252);
  --grape-10: rgb(243, 217, 250);
  --grape-20: rgb(238, 190, 250);
  --grape-30: rgb(229, 153, 247);
  --grape-40: rgb(218, 119, 242);
  --grape-50: rgb(204, 93, 232);
  --grape-60: rgb(190, 75, 219);
  --grape-70: rgb(174, 62, 201);
  --grape-80: rgb(156, 54, 181);
  --grape-90: rgb(134, 46, 156);
  --violet-00: rgb(243, 240, 255);
  --violet-10: rgb(229, 219, 255);
  --violet-20: rgb(208, 191, 255);
  --violet-30: rgb(177, 151, 252);
  --violet-40: rgb(151, 117, 250);
  --violet-50: rgb(132, 94, 247);
  --violet-60: rgb(121, 80, 242);
  --violet-70: rgb(112, 72, 232);
  --violet-80: rgb(103, 65, 217);
  --violet-90: rgb(95, 61, 196);
  --indigo-00: rgb(237, 242, 255);
  --indigo-10: rgb(219, 228, 255);
  --indigo-20: rgb(186, 200, 255);
  --indigo-30: rgb(145, 167, 255);
  --indigo-40: rgb(116, 143, 252);
  --indigo-50: rgb(92, 124, 250);
  --indigo-60: rgb(76, 110, 245);
  --indigo-70: rgb(66, 99, 235);
  --indigo-80: rgb(59, 91, 219);
  --indigo-90: rgb(54, 79, 199);
  --blue-00: rgb(231, 245, 255);
  --blue-10: rgb(208, 235, 255);
  --blue-20: rgb(165, 216, 255);
  --blue-30: rgb(116, 192, 252);
  --blue-40: rgb(77, 171, 247);
  --blue-50: rgb(51, 154, 240);
  --blue-60: rgb(34, 139, 230);
  --blue-70: rgb(28, 126, 214);
  --blue-80: rgb(25, 113, 194);
  --blue-90: rgb(24, 100, 171);
  --cyan-00: rgb(227, 250, 252);
  --cyan-10: rgb(197, 246, 250);
  --cyan-20: rgb(153, 233, 242);
  --cyan-30: rgb(102, 217, 232);
  --cyan-40: rgb(59, 201, 219);
  --cyan-50: rgb(34, 184, 207);
  --cyan-60: rgb(21, 170, 191);
  --cyan-70: rgb(16, 152, 173);
  --cyan-80: rgb(12, 133, 153);
  --cyan-90: rgb(11, 114, 133);
  --teal-00: rgb(230, 252, 245);
  --teal-10: rgb(195, 250, 232);
  --teal-20: rgb(150, 242, 215);
  --teal-30: rgb(99, 230, 190);
  --teal-40: rgb(56, 217, 169);
  --teal-50: rgb(32, 201, 151);
  --teal-60: rgb(18, 184, 134);
  --teal-70: rgb(12, 166, 120);
  --teal-80: rgb(9, 146, 104);
  --teal-90: rgb(8, 127, 91);
  --green-00: rgb(235, 251, 238);
  --green-10: rgb(211, 249, 216);
  --green-20: rgb(178, 242, 187);
  --green-30: rgb(140, 233, 154);
  --green-40: rgb(105, 219, 124);
  --green-50: rgb(81, 207, 102);
  --green-60: rgb(64, 192, 87);
  --green-70: rgb(55, 178, 77);
  --green-80: rgb(47, 158, 68);
  --green-90: rgb(43, 138, 62);
  --lime-00: rgb(244, 252, 227);
  --lime-10: rgb(233, 250, 200);
  --lime-20: rgb(216, 245, 162);
  --lime-30: rgb(192, 235, 117);
  --lime-40: rgb(169, 227, 75);
  --lime-50: rgb(148, 216, 45);
  --lime-60: rgb(130, 201, 30);
  --lime-70: rgb(116, 184, 22);
  --lime-80: rgb(102, 168, 15);
  --lime-90: rgb(92, 148, 13);
  --yellow-00: rgb(255, 249, 219);
  --yellow-10: rgb(255, 243, 191);
  --yellow-20: rgb(255, 236, 153);
  --yellow-30: rgb(255, 224, 102);
  --yellow-40: rgb(255, 212, 59);
  --yellow-50: rgb(252, 196, 25);
  --yellow-60: rgb(250, 176, 5);
  --yellow-70: rgb(245, 159, 0);
  --yellow-80: rgb(240, 140, 0);
  --yellow-90: rgb(230, 119, 0);
  --orange-00: rgb(255, 244, 230);
  --orange-10: rgb(255, 232, 204);
  --orange-20: rgb(255, 216, 168);
  --orange-30: rgb(255, 192, 120);
  --orange-40: rgb(255, 169, 77);
  --orange-50: rgb(255, 146, 43);
  --orange-60: rgb(253, 126, 20);
  --orange-70: rgb(247, 103, 7);
  --orange-80: rgb(232, 89, 12);
  --orange-90: rgb(217, 72, 15);
  --white-10-oc: rgb(250, 250, 252);
  --white-00-oc: rgb(255, 255, 255);
  --black-00-oc: rgb(1, 1, 1);
  --grey-00-oc: rgb(248, 249, 250);
  --grey-05-oc: rgb(243, 245, 247);
  --grey-10-oc: rgb(241, 243, 245);
  --grey-20-oc: rgb(233, 236, 239);
  --grey-30-oc: rgb(222, 226, 230);
  --grey-40-oc: rgb(206, 212, 218);
  --grey-50-oc: rgb(173, 181, 189);
  --grey-60-oc: rgb(134, 142, 150);
  --grey-70-oc: rgb(73, 80, 87);
  --grey-80-oc: rgb(52, 58, 64);
  --grey-90-oc: rgb(33, 37, 41);
  --red-00-oc: rgb(255, 245, 245);
  --red-10-oc: rgb(255, 227, 227);
  --red-20-oc: rgb(255, 201, 201);
  --red-30-oc: rgb(255, 168, 168);
  --red-40-oc: rgb(255, 135, 135);
  --red-50-oc: rgb(255, 107, 107);
  --red-60-oc: rgb(250, 82, 82);
  --red-70-oc: rgb(240, 62, 62);
  --red-80-oc: rgb(224, 49, 49);
  --red-90-oc: rgb(201, 42, 42);
  --pink-00-oc: rgb(255, 240, 246);
  --pink-10-oc: rgb(255, 222, 235);
  --pink-20-oc: rgb(252, 194, 215);
  --pink-30-oc: rgb(250, 162, 193);
  --pink-40-oc: rgb(247, 131, 172);
  --pink-50-oc: rgb(240, 101, 149);
  --pink-60-oc: rgb(230, 73, 128);
  --pink-70-oc: rgb(214, 51, 108);
  --pink-80-oc: rgb(194, 37, 92);
  --pink-90-oc: rgb(166, 30, 77);
  --grape-00-oc: rgb(248, 240, 252);
  --grape-10-oc: rgb(243, 217, 250);
  --grape-20-oc: rgb(238, 190, 250);
  --grape-30-oc: rgb(229, 153, 247);
  --grape-40-oc: rgb(218, 119, 242);
  --grape-50-oc: rgb(204, 93, 232);
  --grape-60-oc: rgb(190, 75, 219);
  --grape-70-oc: rgb(174, 62, 201);
  --grape-80-oc: rgb(156, 54, 181);
  --grape-90-oc: rgb(134, 46, 156);
  --violet-00-oc: rgb(243, 240, 255);
  --violet-10-oc: rgb(229, 219, 255);
  --violet-20-oc: rgb(208, 191, 255);
  --violet-30-oc: rgb(177, 151, 252);
  --violet-40-oc: rgb(151, 117, 250);
  --violet-50-oc: rgb(132, 94, 247);
  --violet-60-oc: rgb(121, 80, 242);
  --violet-70-oc: rgb(112, 72, 232);
  --violet-80-oc: rgb(103, 65, 217);
  --violet-90-oc: rgb(95, 61, 196);
  --indigo-00-oc: rgb(237, 242, 255);
  --indigo-10-oc: rgb(219, 228, 255);
  --indigo-20-oc: rgb(186, 200, 255);
  --indigo-30-oc: rgb(145, 167, 255);
  --indigo-40-oc: rgb(116, 143, 252);
  --indigo-50-oc: rgb(92, 124, 250);
  --indigo-60-oc: rgb(76, 110, 245);
  --indigo-70-oc: rgb(66, 99, 235);
  --indigo-80-oc: rgb(59, 91, 219);
  --indigo-90-oc: rgb(54, 79, 199);
  --blue-00-oc: rgb(231, 245, 255);
  --blue-10-oc: rgb(208, 235, 255);
  --blue-20-oc: rgb(165, 216, 255);
  --blue-30-oc: rgb(116, 192, 252);
  --blue-40-oc: rgb(77, 171, 247);
  --blue-50-oc: rgb(51, 154, 240);
  --blue-60-oc: rgb(34, 139, 230);
  --blue-70-oc: rgb(28, 126, 214);
  --blue-80-oc: rgb(25, 113, 194);
  --blue-90-oc: rgb(24, 100, 171);
  --cyan-00-oc: rgb(227, 250, 252);
  --cyan-10-oc: rgb(197, 246, 250);
  --cyan-20-oc: rgb(153, 233, 242);
  --cyan-30-oc: rgb(102, 217, 232);
  --cyan-40-oc: rgb(59, 201, 219);
  --cyan-50-oc: rgb(34, 184, 207);
  --cyan-60-oc: rgb(21, 170, 191);
  --cyan-70-oc: rgb(16, 152, 173);
  --cyan-80-oc: rgb(12, 133, 153);
  --cyan-90-oc: rgb(11, 114, 133);
  --teal-00-oc: rgb(230, 252, 245);
  --teal-10-oc: rgb(195, 250, 232);
  --teal-20-oc: rgb(150, 242, 215);
  --teal-30-oc: rgb(99, 230, 190);
  --teal-40-oc: rgb(56, 217, 169);
  --teal-50-oc: rgb(32, 201, 151);
  --teal-60-oc: rgb(18, 184, 134);
  --teal-70-oc: rgb(12, 166, 120);
  --teal-80-oc: rgb(9, 146, 104);
  --teal-90-oc: rgb(8, 127, 91);
  --green-00-oc: rgb(235, 251, 238);
  --green-10-oc: rgb(211, 249, 216);
  --green-20-oc: rgb(178, 242, 187);
  --green-30-oc: rgb(140, 233, 154);
  --green-40-oc: rgb(105, 219, 124);
  --green-50-oc: rgb(81, 207, 102);
  --green-60-oc: rgb(64, 192, 87);
  --green-70-oc: rgb(55, 178, 77);
  --green-80-oc: rgb(47, 158, 68);
  --green-90-oc: rgb(43, 138, 62);
  --lime-00-oc: rgb(244, 252, 227);
  --lime-10-oc: rgb(233, 250, 200);
  --lime-20-oc: rgb(216, 245, 162);
  --lime-30-oc: rgb(192, 235, 117);
  --lime-40-oc: rgb(169, 227, 75);
  --lime-50-oc: rgb(148, 216, 45);
  --lime-60-oc: rgb(130, 201, 30);
  --lime-70-oc: rgb(116, 184, 22);
  --lime-80-oc: rgb(102, 168, 15);
  --lime-90-oc: rgb(92, 148, 13);
  --yellow-00-oc: rgb(255, 249, 219);
  --yellow-10-oc: rgb(255, 243, 191);
  --yellow-20-oc: rgb(255, 236, 153);
  --yellow-30-oc: rgb(255, 224, 102);
  --yellow-40-oc: rgb(255, 212, 59);
  --yellow-50-oc: rgb(252, 196, 25);
  --yellow-60-oc: rgb(250, 176, 5);
  --yellow-70-oc: rgb(245, 159, 0);
  --yellow-80-oc: rgb(240, 140, 0);
  --yellow-90-oc: rgb(230, 119, 0);
  --orange-00-oc: rgb(255, 244, 230);
  --orange-10-oc: rgb(255, 232, 204);
  --orange-20-oc: rgb(255, 216, 168);
  --orange-30-oc: rgb(255, 192, 120);
  --orange-40-oc: rgb(255, 169, 77);
  --orange-50-oc: rgb(255, 146, 43);
  --orange-60-oc: rgb(253, 126, 20);
  --orange-70-oc: rgb(247, 103, 7);
  --orange-80-oc: rgb(232, 89, 12);
  --orange-90-oc: rgb(217, 72, 15);
}

[theme="dark"] {

  --text-00: var(--grey-90);
  --text-10: var(--grey-40);
  --text-20: var(--grey-30);
  --text-30: var(--grey-20);

  --bg-00: var(--white-00);
  --bg-10: var(--white-10);
  --bg-20: var(--grey-00);
  --bg-30: var(--grey-05);
  --bg-40: var(--grey-10);

  --black-00: rgb(228, 228, 228);
  --grey-90: rgb(248, 249, 250);
  --grey-80: rgb(241, 243, 245);
  --grey-70: rgb(233, 236, 239);
  --grey-60: rgb(222, 226, 230);
  --grey-50: rgb(206, 212, 218);
  --grey-40: rgb(173, 181, 189);
  --grey-30: rgb(134, 142, 150);
  --grey-20: rgb(73, 80, 87);
  --grey-10: rgb(52, 58, 64);
  --grey-05: rgb(40, 44, 49);
  --grey-00: rgb(33, 37, 41);
  --white-10: rgb(29, 31, 33);
  --white-05: rgb(25, 26, 27);
  --white-00: rgb(21, 21, 21);
  --red-90: rgb(255, 245, 245);
  --red-80: rgb(255, 227, 227);
  --red-70: rgb(255, 201, 201);
  --red-60: rgb(255, 168, 168);
  --red-50: rgb(255, 135, 135);
  --red-40: rgb(255, 107, 107);
  --red-30: rgb(250, 82, 82);
  --red-20: rgb(240, 62, 62);
  --red-10: rgb(224, 49, 49);
  --red-00: rgb(201, 42, 42);
  --pink-90: rgb(255, 240, 246);
  --pink-80: rgb(255, 222, 235);
  --pink-70: rgb(252, 194, 215);
  --pink-60: rgb(250, 162, 193);
  --pink-50: rgb(247, 131, 172);
  --pink-40: rgb(240, 101, 149);
  --pink-30: rgb(230, 73, 128);
  --pink-20: rgb(214, 51, 108);
  --pink-10: rgb(194, 37, 92);
  --pink-00: rgb(166, 30, 77);
  --grape-90: rgb(248, 240, 252);
  --grape-80: rgb(243, 217, 250);
  --grape-70: rgb(238, 190, 250);
  --grape-60: rgb(229, 153, 247);
  --grape-50: rgb(218, 119, 242);
  --grape-40: rgb(204, 93, 232);
  --grape-30: rgb(190, 75, 219);
  --grape-20: rgb(174, 62, 201);
  --grape-10: rgb(156, 54, 181);
  --grape-00: rgb(134, 46, 156);
  --violet-90: rgb(243, 240, 255);
  --violet-80: rgb(229, 219, 255);
  --violet-70: rgb(208, 191, 255);
  --violet-60: rgb(177, 151, 252);
  --violet-50: rgb(151, 117, 250);
  --violet-40: rgb(132, 94, 247);
  --violet-30: rgb(121, 80, 242);
  --violet-20: rgb(112, 72, 232);
  --violet-10: rgb(103, 65, 217);
  --violet-00: rgb(95, 61, 196);
  --indigo-90: rgb(237, 242, 255);
  --indigo-80: rgb(219, 228, 255);
  --indigo-70: rgb(186, 200, 255);
  --indigo-60: rgb(145, 167, 255);
  --indigo-50: rgb(116, 143, 252);
  --indigo-40: rgb(92, 124, 250);
  --indigo-30: rgb(76, 110, 245);
  --indigo-20: rgb(66, 99, 235);
  --indigo-10: rgb(59, 91, 219);
  --indigo-00: rgb(54, 79, 199);
  --blue-90: rgb(231, 245, 255);
  --blue-80: rgb(208, 235, 255);
  --blue-70: rgb(165, 216, 255);
  --blue-60: rgb(116, 192, 252);
  --blue-50: rgb(77, 171, 247);
  --blue-40: rgb(51, 154, 240);
  --blue-30: rgb(34, 139, 230);
  --blue-20: rgb(28, 126, 214);
  --blue-10: rgb(25, 113, 194);
  --blue-00: rgb(24, 100, 171);
  --cyan-90: rgb(227, 250, 252);
  --cyan-80: rgb(197, 246, 250);
  --cyan-70: rgb(153, 233, 242);
  --cyan-60: rgb(102, 217, 232);
  --cyan-50: rgb(59, 201, 219);
  --cyan-40: rgb(34, 184, 207);
  --cyan-30: rgb(21, 170, 191);
  --cyan-20: rgb(16, 152, 173);
  --cyan-10: rgb(12, 133, 153);
  --cyan-00: rgb(11, 114, 133);
  --teal-90: rgb(230, 252, 245);
  --teal-80: rgb(195, 250, 232);
  --teal-70: rgb(150, 242, 215);
  --teal-60: rgb(99, 230, 190);
  --teal-50: rgb(56, 217, 169);
  --teal-40: rgb(32, 201, 151);
  --teal-30: rgb(18, 184, 134);
  --teal-20: rgb(12, 166, 120);
  --teal-10: rgb(9, 146, 104);
  --teal-00: rgb(8, 127, 91);
  --green-90: rgb(235, 251, 238);
  --green-80: rgb(211, 249, 216);
  --green-70: rgb(178, 242, 187);
  --green-60: rgb(140, 233, 154);
  --green-50: rgb(105, 219, 124);
  --green-40: rgb(81, 207, 102);
  --green-30: rgb(64, 192, 87);
  --green-20: rgb(55, 178, 77);
  --green-10: rgb(47, 158, 68);
  --green-00: rgb(43, 138, 62);
  --lime-90: rgb(244, 252, 227);
  --lime-80: rgb(233, 250, 200);
  --lime-70: rgb(216, 245, 162);
  --lime-60: rgb(192, 235, 117);
  --lime-50: rgb(169, 227, 75);
  --lime-40: rgb(148, 216, 45);
  --lime-30: rgb(130, 201, 30);
  --lime-20: rgb(116, 184, 22);
  --lime-10: rgb(102, 168, 15);
  --lime-00: rgb(92, 148, 13);
  --yellow-90: rgb(255, 249, 219);
  --yellow-80: rgb(255, 243, 191);
  --yellow-70: rgb(255, 236, 153);
  --yellow-60: rgb(255, 224, 102);
  --yellow-50: rgb(255, 212, 59);
  --yellow-40: rgb(252, 196, 25);
  --yellow-30: rgb(250, 176, 5);
  --yellow-20: rgb(245, 159, 0);
  --yellow-10: rgb(240, 140, 0);
  --yellow-00: rgb(230, 119, 0);
  --orange-90: rgb(255, 244, 230);
  --orange-80: rgb(255, 232, 204);
  --orange-70: rgb(255, 216, 168);
  --orange-60: rgb(255, 192, 120);
  --orange-50: rgb(255, 169, 77);
  --orange-40: rgb(255, 146, 43);
  --orange-30: rgb(253, 126, 20);
  --orange-20: rgb(247, 103, 7);
  --orange-10: rgb(232, 89, 12);
  --orange-00: rgb(217, 72, 15);
}