{{ set pageName = 'homepage' }}
{{ comp index }}
  {{ include "../header.vto" }}
  <main id="homepage">
    {{ include "./hero.vto" }}
    <section id="content">
      {{ content }}
    </section>
  </main>
{{ /comp }}