<button
  tabIndex="0"
  class="btn {{ if fullwidth == true }}fullwidth{{ /if }}"
  style="--bg-color:var(--{{color}});"
  type="button">
  <div class="btn-hover"></div>
  <span class="aq-icon">{{icon}}</span>
  <span class="btn-content">{{content}}</span>
</button>